
.minecraft/saves/minecraftmaps.com-Captive_Minecraft_1.19.3_Winter_Realm.zip
HunterGame-Plus-v1.1.0.zip
HunterGame_1.0_release.zip
manhunt-1.16 v0.2.zip
.minecraft/versions/1.19.2 - Fabulously Optimized/replay_videos/*
.minecraft/versions/1.19.2 - Fabulously Optimized/ffmpeg-5.1.2-essentials_build.zip
.minecraft/versions/1.19.2 - Fabulously Optimized/ffmpeg-5.1.2-essentials_build/*